<html>

<body>
  <table>
      <tr>
        <th>Dog Name</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>

      {%  for visit in visits %}
          <tr>
            <td> {{ visit.dog }}</td>
            <td> {{ visit.start|date }}</td>
            <td> {{ visit.end|date }} </td>
          </tr>
      {%  endfor %}

</body>
</html>
