<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<style>

    table, th, td {
        border: 1px solid black;
    }

    td {
        padding: 2em;
    }

    a {
        text-decoration: none;
    }

</style>

<body class="container">

    <form action="/">
      Start Date: <input type="date" name="start">
      End Date: <input type="date" name="end">
      <input type="submit">
    </form>

    <h6>Note</h6>
    <p> There are no frontend validations on start, end date html5 inputs shown above. I avoided using datepicker libraries that usually make it trivial to add such validations because these frontend validations are not mentioned in requirements doc. However as suggested in the requirements doc, there is django models level validation that ensures visits don't have start date > end date and also validation that prevents overlapping visits for same dog.</p>
    <br/>
    <table>
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thurs</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
      {%  for week in weeks %}
        <tr>
            {% for day in week %}

                <td>
                {% if day  %}

                    <a href='/day/?d={{ day.1|date:"Y-m-d" }}'>
                        {%  if day.1|date:"j" == '1' %} {{ day.1|date:"N" }}{% endif %} {{ day.1|date:"j" }}
                        <br/>
                        {{ day.2 }}  dog{{ day.2|pluralize }}
                    </a>

                {% endif %}
                </td>

            {% endfor %}
        </tr>
      {% endfor %}
    </table>

    <br/>
    <p> This button is used to reset the database with fake data. A total of 10 dogs and upto 100 fake visits are created when you click this button. </p>
    <form action="/resetdb/">
      <input type="submit" value="Reset DB">
    </form>
</body>

</html>
